<div class="create-client">
  <button style="font-size: 16px" (click)="showNewClientForm = true">Create client</button>
</div>
<div class="clients">
  <div class="new-client" *ngIf="showNewClientForm">
    <h3>Create new client</h3>
    <input
      type="text"
      placeholder="First name"
      [(ngModel)]="newClient.firstName"
    />
    <input
      type="text"
      placeholder="Last name"
      [(ngModel)]="newClient.lastName"
    />
    <input
      type="text"
      placeholder="Birthdate"
      [(ngModel)]="newClient.birthdate"
    />
    <input
      type="text"
      placeholder="Active state"
      [(ngModel)]="newClient.isActive"
    />
    <button (click)="createClient()">Create client</button>
  </div>
  <div class="clients-filter">
    <h3>Filter clients</h3>
    <div class="flex-wrapper">
      <input type="text" placeholder="Filter by clients name" [(ngModel)]="searchTerm" (input)="onSearchChange()" />
      <div class="filter-checkbox-wrapper">
        <input id="filterCheckbox" type="checkbox" [(ngModel)]="filterActiveOnly" (change)="onFilterChange()"/> 
        <span style="padding-left: 8px"><label for="filterCheckbox">Filter by active state</label></span>
      </div>
    </div>
  </div>
  <div class="client-card" *ngFor="let client of filteredClients">
    <span>
      {{ client.firstName }} {{ client.lastName }} -
      {{ client.birthdate }} - {{ client.isActive }}
    </span>
    <span>
      <a (click)="editClient(client)">Edit</a>
      <a style="padding-left: 8px" (click)="deleteClient(client)">Delete</a>
    </span>
  </div>
</div>
