.filter-checkbox-wrapper {
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.flex-wrapper {
  display: flex;
  justify-content: flex-start;
}
.create-client {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
}
.clients {
  padding: 16px;
}
// Form styles moved to shared component
.clients-filter {
  padding: 8px 32px;
  border: 1px solid #006175;
  margin-bottom: 16px;
}

#filterCheckbox {
  width: 20px;
  height: 20px;
  padding-left: 40px;
}
